*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: #272727;
}

.nav li a{
    color: #272727;
    text-decoration: none;
}

.nav li a:hover{
    font-size:larger;
    font-weight: bold;
    text-shadow:-1px -1px 0px wheat;
}

.nav li{
    list-style: none;
    padding: 30px 0;
}

.nav{
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu_bg, .menu_bar{
    top:0;
    left:0;
    position: absolute;
    z-index:1;
} 

.menu_bg{
    width: 0;
    height: 0;
    background: radial-gradient(circle, wheat,rgba(61, 37, 21, 0.301));
    margin: 32px 10px 20px 12px; 
    transition: 0.3s ease;
    border-radius: 50%;
    z-index: 1;
}

.menu_bar{
    z-index: 100;
}

.menu_bg.open{
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
} 

.menu_bttn{
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.menu_bttn_burger{
    width: 50px;
    height: 6px;
    margin: 32px 10px 20px 12px;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    box-shadow: 0 2px 5px wheat; /*rgba(255,101,47,.2)*/
    transition: all .5s ease-in-out;
}

.menu_bttn_burger::before, .menu_bttn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px; 
    display: block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px wheat;
    transition: all .5s ease-in-out;
}

.menu_bttn_burger::before{
    transform: translateY(-16px);
}

.menu_bttn_burger::after{
    transform: translateY(16px);
}

/*ANIMATION*/
.menu_bttn.open .menu_bttn_burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu_bttn.open .menu_bttn_burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu_bttn.open .menu_bttn_burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.nav.open {
    display: block;

}